<header th:insert="fragments/header :: header" ></header>
<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <header th:insert="fragments/adminSide :: side"></header>
            </ul>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
<div class="container">
    <div class="row col-md-10">
        <h5>Информация о покупателях</h5>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "user : ${users}">
            <td th:text = "${user.firstName}"></td>
            <td th:text = "${user.lastName}"></td>
            <td th:text = "${user.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
    </main>
</div>
</body>
</html>