<header th:insert="fragments/header :: header"></header>
<title>Серии</title>

<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <header th:insert="fragments/adminProductSide :: productSide"></header>
            </ul>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <h5>Информация о издателях</h5>
        <div th:if="${size==0}">
            <p>У вас еще нет добавленых серий!</p>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-whatever="@mdo">
            Добавить новую серию!
        </button>

        <!--<Вывод ошибок и обновлений >-->
        <div th:if="${success}" class="text-center alert alert-success">
            <p th:text="${success}"></p>
        </div>

        <div th:if="${failed}" class="text-center alert alert-danger">
            <p th:text="${failed}"></p>
        </div>

        <div th:if="${duplicatedFailed}" class="text-center alert alert-danger">
            <p th:text="${duplicatedFailed}"></p>
        </div>
        <!--<Вывод ошибок и обновлений>-->

        <!--<Таблица серий>-->
        <table class="table" th:if="${size>0}">
            <thead class="thead-light">
            <tr>
                <th scope="col"> Серия</th>
                <th scope="col">Активность</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="series : ${series}">
                <td th:text="${series.name}"></td>
                <td>
                    <a th:if="${series.activated == false}"
                       th:href="@{/admin/series/enable-series/{id} (id = ${series.id})}"
                       class="btn btn-warning">Enable</a>
                    <a th:if="${series.deleted == false}"
                       th:href="@{/admin/series/delete-series/{id} (id = ${series.id})}"
                       class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a th:href="@{/admin/series/edit/{id}(id=${series.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/admin/series/delete/{id}(id=${series.id})}" class="btn btn-danger"> Delete forever</a>
                </td>
            </tr>
            </tbody>
        </table>
        <!--<Таблица серий>-->

        <!--<Создание серий>-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <form th:action="@{/admin/series/create}" method="post" th:object="${newSeries}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Новая Серия</h5>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" th:field="*{name}" id="recipient-name">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>
