<header th:insert="fragments/header :: header"></header>
<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <header th:insert="fragments/adminProductSide :: productSide"></header>
            </ul>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <form th:action="@{/admin/publishers/update/{id}(id=${publisher.id})}"  th:object="${publisher}"  method="post">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name">
            <input type="submit" value="Обновить издателя">
        </form>
    </main>
</div>
</body>
</html>