<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:insert="fragments/head :: head"></header>
<title>Информация</title>
<body>
<header th:insert="fragments/userHeader :: userHeader"></header>
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img
                src="\img\image-product1\row.jpg" alt="..."/></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Заказ</h1>
            <p><strong>Для того, чтобы заказать товар на нашем сайте, Вам нужно:</strong></p>
            <p><strong>Шаг 1. </strong> Кликнуть на кнопку
                «Заказать» на странице выбранной книги. В корзину можно помещать несколько товаров.</p>
            <p><strong>Шаг 2. </strong> После этого перейти на страницу «Корзина», нажав на ссылку «* товаров» в правом
                верхнем углу
                страницы. Убедитесь, что товары в корзине соответствуют выбранным. </p>
            <p><strong>Шаг 3. </strong> Далее нажмите на кнопку «Оформить заказ». Укажите контактные данные, информацию
                о доставке и
                оплате. Обратите внимание, что все поля отмеченные звездочкой (*) обязательны для заполнения.</p>
            <p><strong> Шаг 4. </strong>После завершения заказа Вы получите e-mail уведомление об оформлении заказа.
                Кроме того, в
                рабочее время нашего магазина с Вами свяжется менеджер для подтверждения наличия товара либо сроков его
                доставки, уточнения контактных данных и адреса почтовой или курьерской доставки. Неподтвержденные заказы
                не принимаются к выполнению. </p>
            <a class="btn btn-primary" href="/books">Приступить к покупкам!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Уважаемые покупатели! Статус книги «НЕТ В ИЗДАТЕЛЬСТВЕ»
            означает, что книги нет ни в нашем магазине, ни у наших поставщиков и ее заказ в данный момент времени
            невозможен. Возможные сроки и цена поставки тоже неизвестны. Кнопка «УВЕДОМИТЬ О ПОЯВЛЕНИИ» — это
            автоматический сервис, всего лишь информационное сообщение, которое Вы получите при появлении книги у наших
            поставщиков и, соответственно, при желании сможете оформить заказ на данную книгу.</p></div>
    </div>
    <!-- Footer-->
</div>
</body>
</html>