<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
        <title>Create new </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>New</h1>
    <hr>
    <h2>Save Book</h2>

    <form th:action="@{/create}" method="post" enctype="multipart/form-data">
        <td>Product Name:</td>
        <td> <input type="text" name="title"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number" name="price" /></td>
        </tr>
            <td>First file:</td>
        <td><input type="file" name="file1" /></td>
        <td>Second file:</td>
        <td><input type="file" name="file2" /></td>
        <td>Third file:</td>
        <td><input type="file" name="file3" /></td>

        <tr>
            <td colspan="2"><button type="submit">Save</button> </td>
    </form>

    <hr>
    <a th:href="@{/}"> Back to  List</a>
</div>
</body>
</html>