<header th:insert="fragments/header :: header"></header>
<title>Добавить Книгу</title>
<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <header th:insert="fragments/adminProductSide :: productSide"></header>
            </ul>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <form class="form-horizontal" th:action="@{/admin/products/save}" method="post" enctype="multipart/form-data"
              th:object="${product}">

            <!-- Form Name -->
            <legend>Добавить Книгу</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_name">НАЗВАНИЕ</label>
                <div class="col-md-4">
                    <input id="product_name" th:field="*{title}" name="product_name" placeholder="НАЗВАНИЕ КНИГИ"
                           class="form-control input-md"
                           required="" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="description">ОПИСАНИЕ</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="description" th:field="*{description}"
                              name="description"></textarea>
                </div>
            </div>


            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label">АВТОР</label>
                <div class="col-md-4">
                    <!--            <select id="authors" th:field="*{authors}" name="authors" multiple="multiple" class="form-control">-->
                    <!--                <option th:value="null">-ВЫБРАТЬ-</option>-->
                    <!--                <option th:each="author:${authors}"-->
                    <!--                        th:value="${author.id}"-->
                    <!--                        th:text="${author.fio}">-->
                    <!--                </option>-->
                    <!--            </select>-->
                    <!--            <select th:name="authorId" multiple="multiple">-->
                    <!--                <option th:each="a : ${authors}" th:value="${a.id}"-->
                    <!--                        th:text="${a.id+' '+a.fio}">-->
                    <!--                </option>-->
                    <!--            </select>-->
                    <!--            <select id="newAuthors"   th:field="*{authors}" name="newAuthors" multiple="multiple" class="form-control">-->
                    <!--                <option th:value="null">-ВЫБРАТЬ-</option>-->
                    <!--                <option th:each="author:${authors}"-->
                    <!--                        th:value="${author.id}"-->
                    <!--                        th:text="${author.fio}"></option>-->
                    <!--            </select>-->

                    <select id="authors" th:field="*{author}" name="authors" class="form-control">
                        <option th:value="null">-ВЫБРАТЬ-</option>
                        <option th:each="author : ${authors}"
                                th:if="${author.activated}"
                                th:value="${author.id}"
                                th:text="${author.fio}">
                        </option>
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="categories">КАТЕГОРИЯ</label>
                <div class="col-md-4">
                    <select id="categories" th:field="*{category}" name="categories" class="form-control">
                        <option th:value="null">-ВЫБРАТЬ-</option>
                        <option th:each="category : ${categories}"
                                th:if="${category.activated}"
                                th:value="${category.id}"
                                th:text="${category.name}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="genres">ЖАНР</label>
                <div class="col-md-4">
                    <!--            <select id="genres"  th:field="*{genres}" name="genres" multiple="multiple" class="form-control">-->
                    <!--                <option th:value="null">-ВЫБРАТЬ-</option>-->
                    <!--                <option th:each="genre:${genres}"-->
                    <!--                        th:value="${genre.id}"-->
                    <!--                        th:text="${genre.name}"></option>-->
                    <!--            </select>-->
                    <select id="genres" th:field="*{genre}" name="genres" class="form-control">
                        <option th:value="null">-ВЫБРАТЬ-</option>
                        <option th:each="genre : ${genres}"
                                th:if="${genre.activated}"
                                th:value="${genre.id}"
                                th:text="${genre.name}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="publishers">СЕРИЯ</label>
                <div class="col-md-4">
                    <select id="series" th:field="*{series}" name="series" class="form-control">
                        <option th:value="null">-ВЫБРАТЬ-</option>
                        <option th:each="ser : ${series}"
                                th:if="${ser.activated}"
                                th:value="${ser.id}"
                                th:text="${ser.name}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="publishers">ИЗДАТЕЛЬ</label>
                <div class="col-md-4">
                    <select id="publishers" th:field="*{publisher}" name="categories" class="form-control">
                        <option th:value="null">-ВЫБРАТЬ-</option>
                        <option th:each="publisher : ${publishers}"
                                th:if="${publisher.activated}"
                                th:value="${publisher.id}"
                                th:text="${publisher.name}">
                        </option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="price">ЦЕНА</label>
                <div class="col-md-4">
                    <input id="price" name="price" th:field="*{price}" placeholder="ЦЕНА"
                           class="form-control input-md" required="" type="text">

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="ISBN">ISBN</label>
                <div class="col-md-4">
                    <input id="ISBN" name="ISBN" th:field="*{ISBN}" placeholder="ISBN"
                           class="form-control input-md" required="" type="text">

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="imageProduct">ИЗОБРАЖЕНИЕ</label>
                        <div class="col-md-4">
                            <input id="imageProduct" name="imageProduct" class="input-file" type="file">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </main>
</div>
</body>
</html>
