<header th:insert="fragments/header :: header"></header>
<title>Найденные Книги</title>
<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <header th:insert="fragments/adminProductSide :: productSide"></header>
            </ul>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <h5>Найденные книги</h5>
        <div th:if="${size==0}">
            <p>У вас еще нет книг в магазине!</p>
        </div>
        <td>
            <a type="button" class="btn btn-primary" th:href="@{/admin/products/create}">
                Добавить новую книгу!
            </a>
        </td>
        <td>
        <a type="button" class="btn btn-primary" th:href="@{/admin/products/0}">
            Вернуться ко всем книгам
        </a>
        </td>
        <div th:if="${success}" class="text-center alert alert-success">
            <p th:text="${success}"></p>
        </div>

        <div th:if="${failed}" class="text-center alert alert-danger">
            <p th:text="${failed}"></p>
        </div>

        <div th:if="${duplicatedFailed}" class="text-center alert alert-danger">
            <p th:text="${duplicatedFailed}"></p>
        </div>
        <table class="table" th:if="${size>0}">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Авторы</th>
                <th scope="col">Категории</th>
                <th scope="col">Жанры</th>
                <th scope="col">Серии</th>
                <th scope="col">Издатели</th>
                <th scope="col">Цена</th>
                <th scope="col">ISBN</th>
                <th scope="col">Изображение</th>
                <th scope="col">Обновить</th>
                <th scope="col">Удалить</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product:${products}">
                <th scope="row" th:text="${product.title}"></th>
                <td th:text="${product.author.fio}"></td>
                <td th:text="${product.category.name}"></td>
                <td th:text="${product.genre.name}"></td>
                <td th:text="${product.series.name}"></td>
                <td th:text="${product.publisher.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.ISBN}"></td>
                <td><img src="" style="height: 80px; width: 50px;"
                         th:src="*{'data:image/jpeg;base64,'+{product.image}}"></td>
                <td><a th:href="@{/admin/products/update/{id}(id = ${product.id})}" class="btn btn-primary"> Update </a>
                </td>
                <!--                <td><a th:href="@{/admin/products/delete/{id}(id=${product.id})}" class="btn btn-danger"> Delete </a>-->
                <!--                </td>-->

                <td>
                    <a th:if="${product.activated == false}"
                       th:href="@{/admin/products/enable-product/{id} (id = ${product.id})}" class="btn btn-warning">Enable</a>
                    <a th:if="${product.deleted == false}"
                       th:href="@{/admin/products/delete-product/{id} (id = ${product.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li th:if="${currentPage !=0 }" class="page-item">
                    <a th:href="@{'/admin/products/search-result/' + ${currentPage - 1} + '?'+ 'keyword=' + ${keyword}}" class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                    th:classappend="${currentPage == i - 1 ? 'active' : ''}" class="page-item">
                    <a th:href="@{'/admin/products/search-result/' + ${i - 1} + '?'+ 'keyword=' + ${keyword}}" class="page-link"><span th:text="${i}"></span> </a>
                </li>
                <li th:if="${currentPage + 1 != totalPages}" class="page-item">
                    <a th:href="@{'/admin/products/search-result/' + ${currentPage + 1 } + '?'+ 'keyword=' + ${keyword}}" class="page-link">Next</a>
                </li>
            </ul>
        </nav>
    </main>
</div>
</body>
</html>