<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/css/newstyles.css" rel="stylesheet"/>
    <link href="/css/sidebar.css" rel="stylesheet"/>
    <title>Главная Страница</title>

</head>
<body>
<!-- Header-->
<header th:insert="fragments/userHeader :: userHeader"></header>
<!-- Header-->
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
                <header th:insert="fragments/sidebar :: sidebar"></header>
            </div>
        </div>
        <main class="col ps-md-2 pt-2">
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse"
               class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i>Menu</a>

            <header class="bg-light py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-dark mb-2">Посмотрите нашу подборку рождественских
                                    книг!</h1>
                                <p class="lead fw-normal text-dark-50 mb-4">Мы собрали для вас специальную подборку
                                    всемирно известных книг, которые напомнят вам о предстоящем празднике!</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" th:href="@{/books/christmas}">Посмотреть</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img
                                src="\img\image-product1\book.jpg" alt="..."/></div>
                    </div>
                </div>
            </header>
            <!-- Section-->
            <section class="py-5">
                <h1>Бестселлеры</h1>
                <div class="album py-5 bg-">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 row-cols-md-5  g-5">
                            <div class="col" th:each="product : ${viewProducts}">
                                <div class="card h-100 shadow-sm">
                                    <div class="badge bg-dark text-white position-absolute"
                                         style="top: 0.5rem; right: 0.5rem">Бестселлер
                                    </div>
                                    <img src="" style="height: 300px; width: 219px;"
                                         th:src="*{'data:image/jpeg;base64,'+{product.image}}"/>

                                    <div class="card-body">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <a th:href="@{/books/{id}(id=${product.id})}">
                                                <h5 class="fw-bolder" th:text="${product.title}"></h5></a>
                                            <h6 class="text-muted" th:text="${product.author.fio}"></h6>
                                            <span class="text-muted text-decoration-line"
                                                  th:text="${product.price}"></span>
                                        </div>
                                    </div>
                                    <div sec:authorize="isAnonymous()">
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                                        href="/login">Добавить
                                                в корзину</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </section>

            <!-- Section-->
            <section class="py-5">
                <h1>Новинки</h1>
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 row-cols-md-5  g-5">
                        <div class="col mb-5" th:each="product : ${listNewProducts}">
                            <div class="card h-100">
                                <div class="badge bg-dark text-white position-absolute"
                                     style="top: 0.5rem; right: 0.5rem">New
                                </div>
                                <img src="" style="height: 300px; width: 219px;"
                                     th:src="*{'data:image/jpeg;base64,'+{product.image}}"/>

                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <a th:href="@{/books/{id}(id=${product.id})}">
                                            <h5 class="fw-bolder" th:text="${product.title}"></h5></a>
                                        <h6 class="text-muted" th:text="${product.author.fio}"></h6>
                                        <span class="text-muted text-decoration-line" th:text="${product.price}"></span>
                                    </div>
                                </div>
                                <div sec:authorize="isAnonymous()">
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                                    href="/login">Добавить
                                            в корзину</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>
</body>
</html>